<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= documentTitle %></title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>
    <div class="container">
        <% if(users.length > 0) { %>
            <ul class="users-list">
                <% for(let user of users) {%>
                        <li class="users-list__item">
                            <h3>
                                <strong><%= user.firstname + " " + user.lastname %></strong>
                            </h3>
                            <small><%= user.sex %></small>
                        </li>
                <%}%>
            </ul>
        <%} else {%>
            <h1>No users found!</h1>
        <%}%>

    </div>
</body>

</html>